<h1>Заголовок</h1>
<p>Моё первое приложение для web на ruby on rails ;)</p>

<h1>Hello, Rails!</h1>

<%= link_to "Пробный Блог", posts_path %>

<%= link_to "Юзеры", users_path %>

<%= link_to "Микропосты", microposts_path %>
